html {
  background: url(../pared.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  background-color: rgba(223, 223, 223, 0.952);
  display: flex;
  justify-content: center;
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.twelve {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
}
.three {
  position: absolute;
  top: 45%;
  right: 5%;
  font-size: 26px;
  font-weight: bold;
}
.six {
  position: absolute;
  top: 85%;
  font-size: 24px;
  font-weight: bold;
}

.nine {
  position: absolute;
  top: 45%;
  left: 5%;
  font-size: 26px;
  font-weight: bold;
}

.clock-face {
  align-self: center;
  position: relative;
  width: 75%;
  height: 75%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
  background: red;
}

.min-hand {
  height: 5px;
}

.hour-hand {
  height: 3px;
}
